@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MartelSans';
  src: url('/Martel_Sans/MartelSans-Light.ttf') format('truetype');
}

/* Wave for Landing Card */
.wave {
  position: absolute;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -50%;
  margin-top: -70%;
  background: linear-gradient(744deg, #a253da, #d98510 60%, #e8b82a);
}

.wave:nth-child(2),
.wave:nth-child(3) {
  top: 210px;
}

.playing .wave {
  border-radius: 40%;
  animation: wave 3000ms infinite linear;
}

.wave {
  border-radius: 40%;
  animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
  animation-duration: 4000ms;
}

.wave:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave:nth-child(3) {
  animation-duration: 5000ms;
}

.wave:nth-child(3) {
  animation-duration: 45s;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.scrollDownButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(186, 185, 191, 0.253);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.scrollDownButton:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(248, 164, 84);
  align-items: center;
}

.scrollDownButton:hover .svgIcon {
  transition-duration: 0.3s;
  transform: translateY(200%);
}

.scrollDownButton::before {
  /* position: absolute; */
  bottom: -20px;
  /* content: 'Continue Down'; */
  color: white;
  /* transition-duration: .3s; */
  font-size: 0px;
}

.scrollDownButton:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  transition-duration: 0.3s;
}
